html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  background: #f7f7f7;
  color: #333;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 100px;
}

main {
  margin: 20px auto;
  max-width: 100%;
  padding: 0px 20px;
}
main #home-section,
main #about-section,
main #work-section,
main #contact-section {
  border: 2px solid #00575b;
  padding: 50px 20px;
}
main #home-section {
  background: linear-gradient(135deg, #f7f7f7, #e0f7fa);
}
main #home-section .home-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}
main #home-section .home-content .resume-objective-container,
main #home-section .home-content .home-portrait-container {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #00575b;
  border-radius: 10px;
  background-color: #fff;
}
main #home-section .home-content .resume-objective-container .resume-objective {
  font-size: 18px;
  line-height: 2;
  margin-bottom: 5px;
}
main #home-section .home-content .resume-objective-container .home-btns-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
main #home-section .home-content .resume-objective-container .home-btns-container a {
  padding: 7.5px 15px;
  font-size: 18px;
  border: 2px solid #00575b;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  color: #00575b;
  margin: 10px 20px;
}
main #home-section .home-content .resume-objective-container .home-btns-container a:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background-color: #00575b;
  color: #e0f7fa;
}
main #home-section .home-content .home-portrait-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
main #home-section .home-content .home-portrait-container .home-portrait {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #00575b;
  border-radius: 10px;
}
main #about-section {
  background: linear-gradient(135deg, #fff, #e0ffd7);
}
main #about-section h1 {
  margin-bottom: 30px;
}
main #about-section p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  max-width: 650px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
main #work-section {
  background: linear-gradient(135deg, #f7f7f7, #e0f7fa);
}
main #contact-section {
  background: linear-gradient(135deg, #fff, #e0ffd7);
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: #333;
  text-align: center;
  margin: 0 0 10px 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

header {
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #fff;
  font-family: Roboto;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}
header .nav-container .nav-portrait-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
header .nav-container .nav-portrait-container .nav-portrait {
  width: 75px;
  height: auto;
  border-radius: 50px;
}
header .nav-container .nav-portrait-container .nav-name-text {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}
header .nav-container .nav-portrait-container .nav-portrait,
header .nav-container .nav-portrait-container .nav-name-text:hover {
  opacity: 0.8;
}
header .nav-container .nav-links-container {
  display: flex;
  gap: 25px;
}
header .nav-container .nav-links-container a {
  color: #333;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 50px;
  font-size: 18px;
  transition: background-color 0.3s;
  cursor: pointer;
}
header .nav-container .nav-links-container a:hover {
  background: linear-gradient(135deg, #e0f7fa, #ffe5d9);
  color: #333;
  border-radius: 50px;
}

section {
  margin-bottom: 100px;
  scroll-margin-top: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills-container {
  padding: 20px;
}
.skills-container .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.skills-container .grid > div {
  background-color: #fff;
  border: 1px solid #00575b;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
  height: auto;
}
.skills-container .grid > div h2 {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.25;
}
.skills-container .grid > div div {
  display: inline-block;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 5px;
  padding: 5px 5px;
  border: 1px solid #00575b;
  background: linear-gradient(135deg, #e0f7fa, #ffe5d9);
  border-radius: 5px;
  transition: background-color 0.3s;
}
.skills-container .grid > div div:hover {
  color: #fff;
  background: #333;
  opacity: 0.8;
  transform: scale(1.1);
}

.past-exp-container {
  text-align: center;
}
.past-exp-container h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.past-exp-container .past-exp-btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.past-exp-container .past-exp-btn-container .experience-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid #000;
  background-color: #fff;
  color: #333;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  width: 85px;
  height: 85px;
  line-height: 1.5;
  text-decoration: none;
  transition: background-color 0.3s ease;
  word-wrap: break-word;
}
.past-exp-container .past-exp-btn-container .experience-button:hover {
  border: 2px solid #fff;
  background: #333;
  color: #fff;
}

.work-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.work-container h1#work-section-heading {
  grid-column: 1/-1;
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
}
.work-container .work_item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 550px;
  text-align: center;
  transition: transform 0.3s ease;
}
.work-container .work_item:hover {
  transform: translateY(-10px);
}
.work-container .work_item .project-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.work-container .work_item .project-details .project-img {
  margin-top: -40px;
  margin-bottom: -40px;
  max-width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}
.work-container .work_item .project-details p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
  flex-grow: 1;
}
.work-container .work_item .project-details .project-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: auto;
  padding-top: 15px;
}
.work-container .work_item .project-details .project-links a {
  padding: 10px 15px;
  border: 2px solid #00575b;
  border-radius: 5px;
  background-color: #fff;
  color: #00575b;
  text-decoration: none;
  margin-top: -40px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.work-container .work_item .project-details .project-links a:hover {
  background-color: #00575b;
  color: #e0f7fa;
  transform: scale(1.05);
  cursor: pointer;
}

.form-and-image {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}
.form-and-image .form-container {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-and-image .form-container h2 {
  text-align: center;
}
.form-and-image .form-container .contact-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  align-items: center;
}
.form-and-image .form-container .contact-info .contact-name,
.form-and-image .form-container .contact-info .contact-phone,
.form-and-image .form-container .contact-info .contact-email {
  font-size: 18px;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  width: 100%;
}
.form-and-image .form-container .social-media {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 50px;
}
.form-and-image .form-container .social-media a {
  transition: transform 0.3s ease;
}
.form-and-image .form-container .social-media a:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.form-and-image .form-container .social-media a img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.form-and-image .coding-cartoon-container {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
}
.form-and-image .coding-cartoon-container .coding-cartoon {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

footer {
  background-color: #ffccb3;
  padding: 20px;
  text-align: center;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  width: auto;
  padding: 10px 5px;
  border: 2px solid #00575b;
}
footer .social-media-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 100px;
}
footer .social-media-container h2 {
  display: flex;
  text-align: center;
}
footer .social-media-container a {
  display: inline-block;
  padding: 10px;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}
footer .social-media-container a:hover {
  transform: scale(1.1);
  opacity: 0.8;
  cursor: pointer;
}
footer .social-media-container a img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-regular .roboto-medium {
  font-weight: 500;
}
.roboto-regular .roboto-regular-italic {
  font-style: italic;
}
.roboto-regular .roboto-medium-italic {
  font-weight: 500;
  font-style: italic;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
    padding-top: 50px;
  }
  header {
    display: none;
  }
  .home-content {
    flex-direction: column;
    align-items: stretch;
  }
  .home-content .resume-objective-container,
  .home-content .home-portrait-container {
    max-width: 100%;
    height: auto;
  }
  .skills-container .grid {
    grid-template-columns: 1fr;
  }
  .form-and-image {
    flex-direction: column;
    gap: 15px;
  }
  footer {
    padding: 10px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 15px;
    padding-top: 80px;
  }
  header .nav-container {
    flex-direction: row;
    justify-content: space-between;
  }
  header .nav-links-container {
    flex-direction: row;
    gap: 20px;
  }
  header .nav-links-container a {
    font-size: 17px;
    padding: 10px 15px;
  }
  .skills-container .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .form-and-image {
    flex-direction: column;
    gap: 20px;
  }
  footer {
    padding: 15px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    font-size: 16px;
    padding-top: 100px;
  }
  header .nav-container {
    flex-direction: row;
    justify-content: space-between;
  }
  header .nav-links-container {
    flex-direction: row;
    gap: 25px;
  }
  header .nav-links-container a {
    font-size: 18px;
    padding: 10px 20px;
  }
  .skills-container .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .form-and-image {
    flex-direction: row;
    align-items: flex-start;
  }
  .form-container,
  .contact-portrait-container {
    flex: 1;
    max-width: 50%;
  }
  footer {
    padding: 20px;
  }
}
@media (min-width: 1441px) {
  body {
    font-size: 18px;
  }
  .skills-container .grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .form-and-image {
    flex-direction: row;
    align-items: flex-start;
  }
  .form-container,
  .contact-portrait-container {
    flex: 1;
    max-width: 50%;
  }
  footer {
    padding: 25px;
  }
}

/*# sourceMappingURL=styles.css.map */
